<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <title>Mercado-Liebre</title>
</head>
<body>
      <header>
            <div class="logo"> 
                  <img src="./images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <div class="parrafos-inicio">
                  
                  <p>Buscar productos, marcas y más.</p>
                  <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            
            <nav>
                  <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                        <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                  </ul>
            </nav>
      </header>
      <div class="banner">
            <img src="./images/img-home-banner.jpg" alt="banner">
      </div>
      <main>
            <section class="por-visita">
                  <div class="titulo-visitas">
                        <p id="ultimas_visitas">Basado en tu última visita</p>
                  </div>
                  
                  <article>
                        <div class="article-img">
                              <img src="./images/img-cafetera-moulinex.jpg" alt="">
                        </div>
                        <div>
                              <i class="fas fa-truck"></i>
                        </div>
                        <div>
                              <p class="precios">$6.770</p>
                              <p class="descuentos">40% OFF</p>
                              <h1 class="descripciones">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h1>
                        </div>        
                  </article>

                  <article>
                        <div>
                              <img src="./images/img-macbook-pro-2019.jpg" alt="">
                        </div>
                        
                        <div>
                              <i class="fas fa-truck"></i>
                              <p class="precios">$230.000</p>
                              <p class="descuentos">20% OFF</p>
                              <h1 class="descripciones">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h1>
                        </div>                                 
                  </article>

                  <article>
                        <div>
                              <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                        </div>
                        
                        <div>
                              <i class="fas fa-truck"></i>
                              <p class="precios">$70.500</p>
                              <p class="descuentos">15% OFF</p>
                              <h1 class="descripciones">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h1>
                        </div>
                                                  
                  </article>
                  <article>
                        <div>
                              <img src="./images/img-tv-samsung-smart.jpg" alt="">
                        </div>
                        
                        <div>
                              <i class="fas fa-truck"></i>
                              <p class="precios">$34.000</p>
                              <p class="descuentos">5% OFF</p>
                              <h1 class="descripciones">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h1>
                        </div>
                                                  
                  </article>

            </section>
            <section class="por-ofertas">    
                  <p id="ofertas">Ofertas</p>
                  <article>
                        <img src="./images/img-cafetera-moulinex.jpg" alt="">
                        <div>
                              <i class="fas fa-truck"></i>
                        </div>
                        <p class ="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h1 class="descripciones">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h1>
                  </article>
                  <article>
                        <img src="./images/img-macbook-pro-2019.jpg" alt="">
                        <div>
                              <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h1 class="descripciones">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h1>                     
                  </article>
                  <article>
                        <img src="./images/img-samsung-galaxy-s10.jpg" alt="">
                        <div>
                              <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">15% OFF</p>
                        <h1 class="descripciones">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h1>                          
                  </article>
                  <article>
                        <img src="./images/img-tv-samsung-smart.jpg" alt="">
                        <div>
                              <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$34.000</p>
                        <p class="descuentos">5% OFF</p>
                        <h1 class="descripciones">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h1>                          
                  </article>
            </section>
      </main>
      <footer>
            <div>
                  <div><i class="fas fa-credit-card icon-pie"></i></div>
                  <h2>Pagá con tarjeta o en efectivo</h2>
                  <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                         pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                  <div><i class="fas fa-gift icon-pie"></i></div>
                  <h2>Envío gratis desde los $ 2.500</h2>
                  <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                        productos. Es un beneficio de MercadoPuntos.</p>
            </div>
            <div>
                  <div><i class="fas fa-user-shield icon-pie"></i></div>
                  <h2>Seguridad, de principio a fin</h2>
                  <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                        porque estás siempre prtegid@.</p>             
            </div>
            <div class="last-text"><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
            
      </footer>
</body>
</html>