<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <title>Mercado-Liebre</title>
</head>
<body>
      <header>
            <div class="header-logo-search">
                  <div class="logo-button"> 
                        <a href="/"><img  src="./images/logo-mercado-liebre.svg" alt="logo" ></a> 
                  </div>      
                  <form class="nav-search" action="#">
                        <input type="search" placeholder="Buscar productos, marcas y más... ">
                        <div class="search-icon">
                              <a href="#"><i class="fas fa-search"></i></a>
                        </i></div>
                  </form>          
            </div>
                       
            <div class="parrafos-inicio">                 
                  <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav #navegacion>
                  <div class="menu-container">
                        <div class="nav-button">
                              <i class="fas fa-bars"></i>
                        </div>
                        
                        <div class="links">
                              <ul>
                                    <li><a href="#">Ofertas</a></li>
                                    <li><a href="#">Tiendas oficiales</a></li>
                                    <li><a href="#">Vender</a></li>
                                    <li><a href="#">Ayuda</a></li>
                                    <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                                    <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
                                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                              </ul>
                        </div>
                  </div>
                  
            </nav>
      </header>
      <section class="header-banner">
            <img src="./images/img-home-banner.jpg" alt="banner">
      </section>

      <Main class="main-register">
            <section class="register-form">
                <form action="/">
                  <div>
                        <label for="nombre"></label>
                        <input type="text" placeholder="Nombre y apellido">
                  </div>

                  <div>
                        <label for="nombre-usuario"></label>
                        <input type="text" placeholder="Nombre de usuario">
                  </div>

                  <div>
                        <label for="email"></label>
                        <input type="text" placeholder="E-mail">
                  </div>
                  <div>
                        <label class="fecha" for="">Fecha de nacimiento</label>
                        <input type="date">
                  </div>
                  <div>
                        <label for="domicilio"></label>
                        <input type="text" placeholder="Domicilio">
                  </div>
                  <div class="titulo-perfil">
                        <p>Perfil del usuario</p>

                        <label for="">Comprador</label>
                        <input class="comprador" type="radio" name="v-c" value="com">

                        <label for="">Vendedor</label>
                        <input class="vendedor" type="radio" name="v-c" value="ven">
                  </div>
                  <div class="intereses">
                              <p class="intereses-titulo">Intereses</p>

                              <label for="electro">Electro</label>
                              <input type="checkbox" name="electro" value="electro">

                              <label for="electro">Moda</label>
                              <input type="checkbox" name="moda" value="moda">

                              <label for="electro">Hogar</label>
                              <input type="checkbox" name="hogar" value="hogar">

                              <label for="electro">Jugueteria</label>
                              <input type="checkbox" name="jugueteria" value="jugueteria"> 

                              <label for="electro">Vida sana</label>
                              <input type="checkbox" name="moda" value="vida"> 
                  </div>
                        <div>
                              <label for="perfil">Elegi tu foto de usuario</label>
                        </div>
                        <input type="file" name="usuario-img" value="usuario-img"> 
                  <div>
                        <label for="contraseña"></label>
                        <input type="text" placeholder="Contraseña">
                  </div>

                  <div>
                        <label for="repetir-contraseña"></label>
                        <input type="text" placeholder="Repetir contraseña">
                  </div>
                  <button class="enviar-input" type="submit" > Enviar</button>
                  <button class="borrar-input" type="reset">Borrar</button>
                 </form>
            </section>    
      </Main>


      <footer>
            <article>
                  <div><i class="fas fa-credit-card icon-pie"></i></div>
                  <h2>Pagá con tarjeta o en efectivo</h2>
                  <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                         pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                  <div><i class="fas fa-gift icon-pie"></i></div>
                  <h2>Envío gratis desde los $ 2.500</h2>
                  <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                        productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <article>
                  <div><i class="fas fa-user-shield icon-pie"></i></div>
                  <h2>Seguridad, de principio a fin</h2>
                  <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                        porque estás siempre prtegid@.</p>             
            </article>
            <div class="copy-text">
                  <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
            </div>         
      </footer>
      
</body>
</html>