<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <title>Mercado-Liebre</title>
</head>
<body>
      <header>
            <div class="logo"> 
                  <a href="/"><img src="./images/logo-mercado-liebre.svg" alt="logo" ></a>
            </div>
            <div class="parrafos-inicio">
                  
                  <p>Buscar productos, marcas y más.</p>
                  <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            
            <nav>
                  <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                        <li><a href="#">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                  </ul>
            </nav>
      </header>
      <div class="banner">
            <img src="./images/img-home-banner.jpg" alt="banner">
      </div>

      <Main>
            <section>
                  <form action="#" method="GET">
                        <p>
                              <label for="nombre"></label>
                              <input type="text" placeholder="Nombre y apellido">
                        </p>
      
                        <p>
                              <label for="nombre-usuario"></label>
                              <input type="text" placeholder="Nombre de usuario">
                        </p>
      
                        <p>
                              <label for="email"></label>
                              <input type="text" placeholder="E-mail">
                        </p>
                        <p>
                              <label for="">Fecha de nacimiento</label>
                              <input type="date" placeholder="Domicilio">
                        </p>
                        <p>
                              <label for="domicilio"></label>
                              <input type="text" placeholder="Domicilio">
                        </p>
                  </form>
            </section>
      
            <section class="contraseña">
                <form action="/">
                  <p><label for="perfil">Perfil del usuario</label></p>
                        <input type="radio" name="v-c" value="com"> Comprador
                        <input type="radio" name="v-c" value="ven"> Vendedor

                        <p><label for="perfil">Intereses</label></p>
                        <input type="checkbox" name="electro" value="electro"> Electro
                        <input type="checkbox" name="moda" value="moda"> Moda
                        <input type="checkbox" name="electro" value="hogar"> Hogar
                        <input type="checkbox" name="moda" value="jugueteria"> Jugueteria
                        <input type="checkbox" name="moda" value="vida"> Vida sana

                        <p><label for="perfil">Elegi tu foto de usuario</label></p>
                        <input type="file" name="usuario-img" value="usuario-img"> 

                  <p>
                        <label for="contraseña"></label>
                        <input type="text" placeholder="Contraseña">
                  </p>

                  <p>
                        <label for="repetir-contraseña"></label>
                        <input type="text" placeholder="Repetir contraseña">
                  </p>
                  <button type="submit" > Enviar</button>
                  <button type="reset">Borrar</button>
            </form>
            </section>
            
      </Main>


      <footer>
            <div>
                  <div><i class="fas fa-credit-card icon-pie"></i></div>
                  <h2>Pagá con tarjeta o en efectivo</h2>
                  <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                         pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                  <div><i class="fas fa-gift icon-pie"></i></div>
                  <h2>Envío gratis desde los $ 2.500</h2>
                  <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                        productos. Es un beneficio de MercadoPuntos.</p>
            </div>
            <div>
                  <div><i class="fas fa-user-shield icon-pie"></i></div>
                  <h2>Seguridad, de principio a fin</h2>
                  <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                        porque estás siempre prtegid@.</p>             
            </div>
            <div class="last-text"><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
            
      </footer>
      
</body>
</html>