body {
      font-family: 'Roboto', sans-serif;
}
nav ul li{
      list-style-type: none;

}
a{
      text-decoration: none;
}
img {
      width: 100%;
      max-width: 300px;
}
.banner img {
      max-width: 800px;
}
#ultimas_visitas, #ofertas{
      font-size: 24px;
}
p {
      font-size: 12px;
}
.precios {
      font-size: 18px;
}
.fa-truck{
      margin-left: 0;
}
.descuentos, .descripciones{
      font-size: 16px;
}
