*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body {
      font-family: 'Roboto', sans-serif;
      background-color: var(--fondos-bordes-bg);
}
:root {
      --header-bg-color: #EAC926;
      --fondos-bordes-bg:#ebebeb;
      --iconos-truck-desc:#39b54a;
      --iconos-celeste:#1259c3;
      --bg-gris-oscuro:#666;
      --bg-azul:#03264C;
      --bordes: #767676;
    }
    

    /*   ///////////    HEADER     ////////  */
header{
      background-color: var(--header-bg-color);
      padding: 5px;
      min-height: 100px;
}
.header-logo-search{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
}
a{
      text-decoration: none;
      color: black;
}
a:visited{
      color: black;
}
.logo-button{
      width: 40%;
}
.nav-search {
      display: flex;
      width: 50%;
      height: 30px;
}
.nav-search input{
      width: 100%;
}
.search-icon {
      width: 40px;
      height: 30px;
      background-color: white;
      text-align: center;
      border-radius: 2px;
      padding: 2px;
      border: 1px solid  rgb(118, 118, 118);;
}

.header-banner img{
      max-width: 100%;
}
/*  ///////////    Nav del MOBILE    /////////// */
      nav {
            text-align: center;
      }
      nav ul{
            margin: 2px;
            padding: 0px;
      }
      nav ul li{
            list-style-type: none;
            border-bottom: 1px solid var(--bordes);
            padding: 2px;
            text-align: start;
      }
      nav ul li a{
            margin-right: 6px;
      }

      nav .menu-container{
            width: max-content;
            display: inline-block;
            margin: 20px 0px;
      }
      nav .nav-button{
            padding: 2px;
            background-color: #0044AA;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            font-size: 20px;
            text-align: center;
            display: inline-block;
            padding: 10px;
            border: 1px solid rgb(118, 118, 118);
      }
      nav .links ul{
            display: none;
      }
      nav .nav-button:hover{
            background-color: #0022AA;
            pointer-events: visible;
            cursor: pointer;
      }
      nav .menu-container:hover .links ul{
            display: block;
      }


/*    ///////////    MAIN del Home    ///////////   */
main{
      background-color: var(--fondos-bordes-bg);
      width: 85%;
      margin: auto;
      margin-bottom: 10%;
}
.por-visitas, .por-ofertas{
      font-size: 24px;
      width: 100%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
}

section article {
      padding: 15px;
      margin-bottom: 20px;
      text-align: center;
      background-color: white;
}
section article img{
      width: 100%;
      display: inline-block;
      text-align: center;
      border-bottom: 0.3px solid var( --bordes);
}
.pie-articulo{
     text-align: start;
}
.precios {
      font-size: 18px;
}
.fa-truck{
      color: var(--iconos-truck-desc);
      text-align: start;
      border-radius: 50%;
      border:1px solid  var(--iconos-truck-desc);
      padding: 6px;
}
.descuentos, .descripciones{
      font-size: 16px;
}
.descuentos{
      color: var(--iconos-truck-desc);
}
.titulo-visitas, .titulo-ofertas{
      margin: 20px 0px;
      width: 90%;
      text-align: start;
      font-size: 28px;
}



/*   /////////// ///////////    REGISTER    */
.register-form{
      width: 100%;
      text-align: center;
      display: flex;
      padding: 20px 0px;
      justify-content: center;
}
.register-form form{
      border: 0.6px solid gainsboro;
      padding: 10px;
      border-radius: 13px;
      box-sizing: border-box;
}
.register-form div input{
      width: 100%;
      padding: 10px;
      margin: 20px 0px;
      border-radius: 5px;
      border: 0px;
}
.fecha {
      margin-top: 8px;
      display: block;
}
.titulo-perfil{
      margin: 10px;
      text-align: start;
}
.titulo-perfil .comprador, .titulo-perfil .vendedor{
      width: 20%;
}
.intereses{
      text-align: start;
      margin: 10px;
}
.intereses-titulo{
      margin: 10px 0px;
}
.borrar-input{
      width: 100%;
      padding: 10px;
      margin: 20px 0px;
      border-radius: 5px;
      border: 0px;
     color: white;
     background-color: #CC1155;
}

/*   /////////// ///////////    Login ///////////  ///////////     */
.form-login{
      padding: 20px;
      border:1px solid gainsboro;
      border-radius: 13px;
      height: 600px;
      margin: 40px 0px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
}
.email-input, .clave-input{
      width: 100%;
      padding: 10px;
      margin: 20px 0px;
      border-radius: 5px;
      border: 0px;
}
.enviar-input{
      width: 100%;
      padding: 10px;
      margin: 20px 0px;
      border-radius: 5px;
      border: 0px;
     color: white;
     background-color: #0044AA;
}
.enviar-input:hover{
      background-color: #0022AA;
}

/*  ///////////      PIE DE PAGINA  ///////////    */
footer{
      text-align: center;
      background-color: white;
      padding: 20px 5%;
}
footer article{
      margin: 20px 0px;
      text-align: start;
}
.icon-pie {
      color: var(--iconos-celeste);
}
.copy-text{
      margin-top: 25px;
      margin-bottom: 10px;
      text-align: left;
}


@media (min-width: 640px){
div .nav-button{
      display: none;
}
nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end ;
}
nav .menu-container{
      width: 90%;
      padding:0px 5% 0px 20%;
}
.menu-container .links ul{
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0;
}
.links ul li{
      border: none;
}
.links ul li:hover{
      font-size: 18px;
}
nav .menu-container:hover .links ul{
      display: flex;
}

.por-ofertas, .por-visitas{
      flex-direction: row;
      justify-content: space-between;
}
section article{
      width: 24%;
}
.por-ofertas{
      margin-bottom: 10px;
}
.form-login{
      max-width: 400px;
}
.main-login {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

footer article {
      display: inline-block;
      width: 30%;
      text-align: start;
}

}


